@model HackerNews.Mvc.ViewModels.ViewComponents.HomeSidebarCard.HomeSidebarCardViewModel

<div class="card">
    <div class="card-top">
        HackerNews
    </div>
    <div class="card-body">
        <h4>Home</h4>
        <p>
            Welcome to HackerNews. Come here to check in with all the latest news and discussion threads.
        </p>
    </div>
    <div class="card-footer">
        @if (Model.LoggedIn)
        {
            <a asp-controller="Boards" asp-action="Create" class="btn btn-outline-secondary">Create Board</a>
        }
        else
        {
            <a asp-controller="Users" asp-action="Login" class="btn btn-secondary">Login</a>
        }
    </div>
</div>