@model HackerNews.ViewModels.Other.NavbarViewModel

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a asp-controller="Home" asp-action="Index" class="navbar-brand">HackerNews</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-auto">
                <form asp-controller="Home" asp-action="Search" class="form-inline my-2 my-lg-0">
                    <input  asp-for="SearchTerm" class="form-control" type="search" placeholder="Search" aria-label="Search" >
                </form>
            </li>
            @if (Model.LoggedIn)
            {
                <li class="nav-item"><a asp-controller="Users" asp-action="Articles" asp-route-userId="@Model.User.Id" class="nav-link">Articles</a></li>
                <li class="nav-item"><a asp-controller="Users" asp-action="Comments" asp-route-userId="@Model.User.Id" class="nav-link">Comments</a></li>
                <li class="nav-item"><a asp-controller="Articles" asp-action="Create" class="nav-link">Submit</a></li>
                <li class="nav-item"><a asp-controller="Users" asp-action="Logout" class="nav-link">Logout</a></li>
            }
            else
            {
                <li class="nav-item"><a asp-controller="Users" asp-action="Register" class="nav-link">Register</a></li>
                <li class="nav-item"><a asp-controller="Users" asp-action="Login" class="nav-link">Login</a></li>
            }
        </ul>
    </div>
</nav>