@model HackerNews.Mvc.ViewModels.Home.HomeBoardsViewModel

@{
    ViewData["Title"] = "Boards";
}

@* Articles *@
@foreach (var board in Model.BoardPage.Items)
{
    @await Component.InvokeAsync("BoardCard", new { boardModel = board });
}
@* Bottom of Boards List *@
<div class="navigation-row">
    @* Bottom of Article List *@
    @if (Model.BoardPage.HasPrev)
    {
        <a asp-controller="Home" asp-action="Boards" asp-all-route-data="Model.BoardPage.PrevPageQuery" class="btn  ">Prev</a>
    }
    @if (Model.BoardPage.HasNext)
    {
        <a asp-controller="Home" asp-action="Boards" asp-all-route-data="Model.BoardPage.NextPageQuery" class="btn  ">Next</a>
    }
</div>

@section Sidebar {
    @await Component.InvokeAsync("HomeSidebarCard")
}
