@model HackerNews.Mvc.ViewModels.Home.HomeIndexViewModel

@{
    ViewData["Title"] = "HackerNews Home";
}

<div class="container-fluid">
    <div class="row p-4">
        <div class="col-sm-12 col-md-7 col-lg-9 main-content card-deck">
            @* Search Bar *@
            <form asp-controller="Home" asp-action="Search" class="w-100">
                <div class="form-group">
                    <input asp-for="SearchTerm" class="form-control" type="search" placeholder="Search" aria-label="Search">
                </div>
            </form>

            @* Articles *@
            @foreach (var article in Model.ArticlePage.Items)
            {
                @await Component.InvokeAsync("ArticleCard", new { articleModel = article });
            }
            @* Bottom of Article List *@
            <div class="row w-100">
                <div class="col">
                    @if (Model.ArticlePage.HasPrev)
                    {
                        <a asp-controller="Home" asp-action="Index" asp-all-route-data="Model.ArticlePage.PrevPageQuery" class="mr-auto btn btn-outline-secondary ">Prev</a>
                    }
                    @if (Model.ArticlePage.HasNext)
                    {
                        <a asp-controller="Home" asp-action="Index" asp-all-route-data="Model.ArticlePage.NextPageQuery" class="mr-auto btn btn-outline-secondary ">Next</a>
                    }
                </div>
            </div>
            <div class="row h-100"></div>
        </div>
        @* Sidebar *@
        <div class="d-none d-md-block col-md-5 col-lg-3 sidebar">
            @await Component.InvokeAsync("HomeSidebarCard")
        </div>

        @* Footer *@
    </div>
    <div class="card-footer">

    </div>
</div>