@using HackerNews.Mvc.ViewModels.ViewComponents.HomeSidebarCard;

@model HackerNews.Mvc.ViewModels.Home.HomeIndexViewModel

@{
    ViewData["Title"] = "HackerNews Home";
}

<!--<div class="container-fluid">
    <div class="row p-4">
        <div class="col-sm-12 col-md-7 col-lg-9 main-content card-deck">-->
@* Search Bar *@
<!--<form asp-controller="Home" asp-action="Search" class="w-100">
    <div class="form-group">
        <input asp-for="SearchTerm" class="form-control" type="search" placeholder="Search" aria-label="Search">
    </div>
</form>-->
@* Articles *@
<!--@foreach (var article in Model.ArticlePage.Items)
{
    @await Component.InvokeAsync("ArticleCard", new { articleModel = article });
}-->
@* Bottom of Article List *@
<!--<div class="row w-100">
                <div class="col">
                    @if (Model.ArticlePage.HasPrev)
                    {
                        <a asp-controller="Home" asp-action="Index" asp-all-route-data="Model.ArticlePage.PrevPageQuery" class="mr-auto btn btn-outline-secondary ">Prev</a>
                    }
                    @if (Model.ArticlePage.HasNext)
                    {
                        <a asp-controller="Home" asp-action="Index" asp-all-route-data="Model.ArticlePage.NextPageQuery" class="mr-auto btn btn-outline-secondary ">Next</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>-->


@* Search Bar *@
<form asp-controller="Home" asp-action="Search" class="w-100">
    <div class="input">
        <i class="fas fa-search input-icon"></i>
        <input type="search" class="page-search" placeholder="Search Articles" asp-for="SearchTerm">
    </div>
</form>

@foreach (var article in Model.ArticlePage.Items)
{
    @await Component.InvokeAsync("ArticleCard", new { articleModel = article });
}


<div class="navigation-row">
    @* Bottom of Article List *@
    @if (Model.ArticlePage.HasPrev)
    {
        <a asp-controller="Home" asp-action="Index" asp-all-route-data="Model.ArticlePage.PrevPageQuery" class="btn">Prev</a>
    }
    @if (Model.ArticlePage.HasNext)
    {
        <a asp-controller="Home" asp-action="Index" asp-all-route-data="Model.ArticlePage.NextPageQuery" class="btn">Next</a>
    }
</div>

@section Sidebar{
    @await Component.InvokeAsync("HomeSidebarCard")

}