@model HackerNews.Mvc.ViewModels.Home.HomeSearchViewModel
 
<div class="container-fluid">
    <div class="row p-4">
        @* Main Content *@
        <div class="col-sm-12 col-md-7 col-lg-9 main-content card-deck">
            <form asp-controller="Home" asp-action="Search" class="w-100">
                <div class="form-group">
                    <input asp-for="SearchTerm" class="form-control" type="search" placeholder="Search" aria-label="Search">
                </div>
            </form>
            @* Boards *@
            @if (Model.BoardPage.Items.Count() > 0)
            {
                <h4>Boards</h4>
                @foreach (var board in Model.BoardPage.Items)
                {
                    @await Component.InvokeAsync("BoardCard", new { boardModel = board });
                }
                <a asp-controller="Boards" asp-action="Search" asp-route-searchTerm="@Model.SearchTerm" class="mr-auto btn btn-outline-secondary ">More</a>
                <div class="row w-100"></div>
            }

            @* Users *@
            @if (Model.UserPage.Items.Count() > 0)
            {
                <h4>Users</h4>
                @foreach (var user in Model.UserPage.Items)
                {
                    @await Component.InvokeAsync("UserCard", new { userModel = user });
                }
                <a asp-controller="Users" asp-action="Search" asp-route-searchTerm="@Model.SearchTerm" class="mr-auto btn btn-outline-secondary ">More</a>
                <div class="row w-100"></div>
            }

            @* Articles *@
            @if (Model.ArticlePage.Items.Count() > 0)
            {
                <h4>Articles</h4>
                @foreach (var article in Model.ArticlePage.Items)
                {
                    @await Component.InvokeAsync("ArticleCard", new { articleModel = article });
                }
                <a asp-controller="Articles" asp-action="Search" asp-route-searchTerm="@Model.SearchTerm" class="mr-auto btn btn-outline-secondary ">More</a>
                <div class="row w-100"></div>
            }

            @* Comments *@
            @if (Model.CommentPage.Items.Count() > 0)
            {
                <h4>Comments</h4>
                @foreach (var comment in Model.CommentPage.Items)
                {
                    @await Component.InvokeAsync("CommentCard", new { commentModel = comment });
                }
                <a asp-controller="Comments" asp-action="Search" asp-route-searchTerm="@Model.SearchTerm" class="mr-auto btn btn-outline-secondary ">More</a>
                <div class="row w-100"></div>
            }
        </div>

        @* Sidebar *@
        <div class="d-none d-md-block col-md-5 col-lg-3 sidebar">
            @await Component.InvokeAsync("HomeSidebarCard")
        </div>

        @* Footer *@
    </div>
    <div class="card-footer">

    </div>
</div>