@model HackerNews.ViewModels.Other.UserCardViewModel

<div class="row w-100">
    <div class="col card article-card mb-3">
        <div class="row card-body">
            <div class="col-sm-12 col-md-11">
                <a asp-controller="Users" asp-action="Details" asp-route-id="@Model.User.Id">
                    @Model.User.Username
                </a>
                <div>
                    <a asp-controller="Users" asp-action="Articles" asp-route-userId="@Model.User.Id">Articles</a>
                    | <a asp-controller="Users" asp-action="Comments" asp-route-userId="@Model.User.Id">Comments</a>
                </div>
            </div>
        </div>
    </div>
</div>