@model HackerNews.Mvc.ViewModels.Comments.CommentDetailsViewModel

@{
    ViewData["Title"] = $"{Model.Comment.Text.Take(10)}...";
}

@await Component.InvokeAsync("CommentCard", new { commentModel = Model.Comment })

@* Add Comment*@
@if (Model.LoggedIn)
{
    <div class="card card-lg">
        <form asp-controller="Comments" asp-action="AddComment" method="post">
            <textarea class="form-control" asp-for="PostCommentModel.Text"></textarea>
            <input hidden asp-for="Comment.BoardId" />
            <input hidden asp-for="Comment.Id" />
            <input hidden asp-for="Comment.UserId" />
            <input type="submit" class="btn btn-primary" value="Add comment" />
        </form>
    </div>
}
else
{
    <p><a asp-controller="Users" asp-action="Login">Log in</a> to comment.</p>
}

<h2>Comments</h2>
@foreach (var comment in Model.ChildCommentPage.Items)
{
    @await Component.InvokeAsync("CommentCard", new { commentModel = comment });
}
@if (Model.ChildCommentPage.HasPrev)
{
    <a asp-controller="Comments" asp-action="Details" asp-all-route-data="@Model.ChildCommentPage.PrevPageQuery" class="btn btn-primary">Prev</a>
}
@if (Model.ChildCommentPage.HasNext)
{
    <a asp-controller="Comments" asp-action="Detail" asp-all-route-data="@Model.ChildCommentPage.NextPageQuery" class="btn btn-primary">Next</a>
}
