@model HackerNews.Mvc.ViewModels.ViewComponents.BoardCardViewModel 

<div class="card board-card">
    <a asp-controller="Boards" asp-action="Details" asp-route-id="@Model.Board.Id" class="board-title">
        @Model.Board.Title
    </a>
    <p>@Model.Board.Description</p>
</div>