@model HackerNews.Mvc.ViewModels.Boards.BoardCreateModel

@{
    ViewData["Title"] = "Create Board";
    Layout = "_CenteredLayout";
}


<form asp-controller="Boards" asp-action="Post" class="card card-lg login-card" enctype="multipart/form-data">
    <h2>Create Board</h2>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div>
        <input type="text" asp-for="Board.Title" placeholder="Title">
        <span asp-validation-for="Board.Title" class="text-danger"></span>

    </div>
    <div>
        <input type="text"  asp-for="Board.Description" placeholder="Description">
        <span asp-validation-for="Board.Description" class="text-danger"></span>
    </div>
    <input type="file" id="boardImage" name="boardImage" />
    <input type="submit" value="Create" class="btn btn-primary" />
</form>