@model HackerNews.Mvc.ViewModels.Boards.BoardDetailsViewModel

@{
    ViewData["Title"] = Model.Board.Title;
}

@* Articles *@
<h1>@Model.Board.Title</h1>
            
@foreach (var article in Model.ArticlePage.Items)
{
    @await Component.InvokeAsync("ArticleCard", new { articleModel = article });
}

@* Bottom of Article List *@

<div class="navigation-row">
    @* Bottom of Article List *@
    @if (Model.ArticlePage.HasPrev)
    {
        <a asp-controller="Boards" asp-action="Details" asp-all-route-data="Model.ArticlePage.PrevPageQuery" class="btn">Prev</a>
    }
    @if (Model.ArticlePage.HasNext)
    {
        <a asp-controller="Boards" asp-action="Details" asp-all-route-data="Model.ArticlePage.NextPageQuery" class="btn">Next</a>
    }
</div>

@section Sidebar {
    @await Component.InvokeAsync("BoardSidebarCard", new { boardModel = Model.Board, imageDataUrl = Model.ImageDataUrl })
}
