<div class="card mb-4">
    <img class="card-img-top" src="~/img/home-banner.png" alt="home-banner" />
    <div class="card-body">
        <h4 class="h4">Home</h4>
        <p>
            Welcome to HackerNews. Come here to check in with all the latest news and discussion threads.
        </p>
    </div>
    <div class="card-footer">
        <a asp-controller="Articles" asp-action="Create" class="btn btn-primary col my-1">Create Post</a>
        <div class="w-100"></div>
        <a asp-controller="Boards" asp-action="Create" class="btn btn-outline-primary col my-1">Create Board</a>
    </div>
</div>