@model HackerNews.ViewModels.Articles.ArticleCreateViewModel

@{
    ViewData["Title"] = "Post Article";
}


<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-7 col-lg-9 ">
            <h2>Create a post</h2>
            @* Create Panel *@
            <div class="card">
                <div class="card-body">
                    <form asp-controller="Articles" asp-action="Post" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Article.Title" class="control-label"></label>
                            <input asp-for="Article.Title" class="form-control" />
                            <span asp-validation-for="Article.Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Article.Text" class="control-label"></label>
                            <textarea asp-for="Article.Text" class="form-control"></textarea>
                            <span asp-validation-for="Article.Text" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Article.Type" class="control-label"></label>
                            @Html.DropDownListFor(model => model.Article.Type, Model.ArticleTypeList )
                            <span asp-validation-for="Article.Type" class="text-danger"></span>
                        </div>
                            <input hidden asp-for="Article.BoardId" class="form-control" />
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        @* Sidebar *@
        <div class="d-none d-md-block col-md-5 col-lg-3 sidebar">
            <div class="card mb-4">
                <img class="card-img-top" src="~/img/home-banner.png" alt="home-banner" />
                <div class="card-body">
                    <h4 class="h4">Posting to HackerNews</h4>
                    <ol>
                        <li>Remember the human</li>
                        <li>Behave like you would in real life</li>
                        <li>Look for the original source of content</li>
                        <li>Search for duplicates before posting</li>
                        <li>Read the community's rules</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
