@model ArticleListViewModel

@{ 
    ViewData["Title"] = "List View";
}
@foreach(var article in Model.GetModels)
{
    <div>
        <h2>@article.Id</h2>
        <h2>@article.Title</h2>
        <h2>@article.Text</h2>
    </div>
}