@model HackerNews.ViewModels.Users.UserArticlesListView

<div class="container-fluid">
    <div class="row p-4">
        @* Articles *@
        <div class="col main-content card-deck">
            @foreach (var article in Model.GetModels)
            {
                @await Component.InvokeAsync("ArticleCard", new { articleModel = article });
            }
            <div class="row h-100"></div>
        </div>
    </div>
</div>
