@model HackerNews.ViewModels.Users.UserArticlesListView

<div class="container-fluid">
    <div class="row p-4">
        @* Articles *@
        <div class="col main-content card-deck">
            @foreach (var article in Model.ArticlePage.Items)
            {
                @await Component.InvokeAsync("ArticleCard", new { articleModel = article });
            }
            @if (Model.ArticlePage.HasPrev)
            {
                <a asp-controller="Users" asp-action="Articles" asp-all-route-data="@Model.ArticlePage.PrevPageQuery" class="mr-auto btn btn-outline-secondary ">Prev</a>
            }
            @if (Model.ArticlePage.HasNext)
            {
                <a asp-controller="Users" asp-action="Articles"  asp-all-route-data="Model.ArticlePage.NextPageQuery" class="mr-auto btn btn-outline-secondary ">Next</a>
            }
            <div class="row h-100 w-100"></div>
        </div>
    </div>
</div>
