@model HackerNews.ViewModels.Users.UserCommentsListView
@{
    ViewData["Title"] = "Comments";
}

<h2>Comments</h2>

<div class="container-fluid">
    <div class="row p-4">
        @* Comments *@
        <div class="col main-content card-deck">
            @foreach (var comment in Model.GetModels)
            {
                @await Component.InvokeAsync("CommentCard", new { commentModel = comment });
            }
            <div class="row h-100"></div>
        </div>
    </div>
</div>

