@model HackerNews.ViewModels.Users.UserLoginViewModel

@{
    ViewData["Title"] = "Login";
}


<div class="container">
    <div class="row mt-3">
        <div class="col-sm-12 col-md-6 mx-auto">
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="PostModel.Username" class="control-label"></label>
                    <input asp-for="PostModel.Username" class="form-control" />
                    <span asp-validation-for="PostModel.Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PostModel.Password" class="control-label"></label>
                    <input asp-for="PostModel.Password" type="password" class="form-control" />
                    <span asp-validation-for="PostModel.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

