@model HackerNews.Mvc.ViewModels.Articles.ArticleCreateViewModel

@{
    ViewData["Title"] = "Post Article";
}

@section styles{
    <link rel="stylesheet" href="~/css/login.css" />
}

<div class="card card-lg">
    <form asp-controller="Articles" asp-action="Post" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <label asp-for="Article.Title" class="control-label"></label>
            <input asp-for="Article.Title" class="input"/>
            <span asp-validation-for="Article.Title" class="text-danger"></span>

            <label asp-for="Article.Text" class="control-label"></label>
            <textarea asp-for="Article.Text" class="input"></textarea>
            <span asp-validation-for="Article.Text" class="text-danger"></span>

            <label asp-for="Article.Type" class="control-label"></label>
            @Html.DropDownListFor(model => model.Article.Type, Model.ArticleTypeList)
            <span asp-validation-for="Article.Type" class="text-danger"></span>

            <input type="file" id="articleImage" name="articleImage" placeholder="Article Image"/>

            <input hidden asp-for="Article.BoardId" class="form-control" />

            <input type="submit" value="Create" class="btn btn-primary" />
    </form>
</div>


@section Sidebar {
    <div class="card">
        <h4 class="h4">Posting to HackerNews</h4>
        <ol>
            <li>Remember the human</li>
            <li>Behave like you would in real life</li>
            <li>Look for the original source of content</li>
            <li>Search for duplicates before posting</li>
            <li>Read the community's rules</li>
        </ol>
    </div>
}
