@model HackerNews.Mvc.ViewModels.Users.UserBoardsViewModel
 
@{
    ViewData["Title"] = "Boards";
}

<h4>Subscribed Boards</h4>
@foreach (var board in Model.BoardsSubscribedPage.Items)
{
    @await Component.InvokeAsync("BoardCard", new { boardModel = board });
}
@* Comments *@
<h4>Moderating Boards</h4>
@foreach (var board in Model.BoardsModeratingPage.Items)
{
    @await Component.InvokeAsync("BoardCard", new { boardModel = board });
}
