@model HackerNews.Mvc.ViewModels.Users.UserLoginViewModel

@{
    Layout = "_CenteredLayout";
    ViewData["Title"] = "Login";
}

<form asp-controller="Users" asp-action="login" class="card card-lg login-card">
    <h2>Login</h2>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div>
        <input type="text" id="login-username" asp-for="LoginModel.Username" placeholder="Username">
        <span asp-validation-for="LoginModel.Username" class="text-danger"></span>

    </div>

    <div>
        <input type="password" id="login-password" asp-for="LoginModel.Password" placeholder="Password">
        <span asp-validation-for="LoginModel.Password" class="text-danger"></span>

    </div>
    <input type="submit" value="Log in" class="btn btn-secondary" />
</form>
