@model HackerNews.Mvc.ViewModels.Users.UserSavedViewModel 

@* Articles *@
<h4>Articles</h4>
@foreach (var article in Model.SavedArticlesPage.Items)
{
    @await Component.InvokeAsync("ArticleCard", new { articleModel = article });
}

@* Comments *@
<h4>Comments</h4>
@foreach (var comment in Model.SavedCommentsPage.Items)
{
    @await Component.InvokeAsync("CommentCard", new { commentModel = comment });
}
