@model HackerNews.Mvc.ViewModels.ViewComponents.NavbarViewModel

<header class="header">
    <h1>
        <a asp-controller="Home" asp-action="Index" class="logo">HackerNews</a>
    </h1>
    <form asp-controller="Home" asp-action="Search">
        <div class="input">
            <i class="fas fa-search input-icon"></i>
            <input asp-for="SearchTerm" type="search" placeholder="Search HackerNews">
        </div>
    </form>

    <button class="btn btn-secondary menu-toggle" data-toggle-for="menu">Menu</button>
    <ul class="header-links  hidden-menu-md" id="menu">
        <li class="header-link"><a asp-controller="Home" asp-action="Index" class="nav-link">Articles</a></li>
        <li class="header-link"><a asp-controller="Home" asp-action="Boards" class="nav-link">Boards</a></li>
        @if (Model.LoggedIn)
        {
            <li class="dropdown">
                <button id="my-stuff-toggle" class="a dropdown-toggle header-link">
                    My Stuff ▾
                </button>
                <div id="my-stuff-menu" class="dropdown-menu hidden-menu">
                    <a asp-controller="Users" asp-action="Me" class="dropdown-item">My Profile</a>
                    <a asp-controller="Users" asp-action="Boards" class="dropdown-item">Boards</a>
                    <a asp-controller="Users" asp-action="Articles" asp-route-userId="@Model.User.Id"
                       class="dropdown-item">
                        Written
                        Articles
                    </a>
                    <a asp-controller="Users" asp-action="Comments" asp-route-userId="@Model.User.Id"
                       class="dropdown-item">
                        Written
                        Comments
                    </a>
                    <a asp-controller="Users" asp-action="Saved" class="dropdown-item">Saved</a>
                </div>
            </li>

            <li class="header-link"><a asp-controller="Users" asp-action="Logout" class="nav-link">Logout</a></li>
            <li class="header-link"><a onclick="toggleTheme()" class="nav-link">theme</a></li>
        }
        else
        {
            <li class="header-link"><a asp-controller="Users" asp-action="Register" class="nav-link">Register</a></li>
            <li class="header-link"><a asp-controller="Users" asp-action="Login" class="nav-link">Login</a></li>
        }
    </ul>
</header>
