:root {
    --blue: #0079d3;
    --primary: #ff4500;
    --orange: #ffb000;
    --green: #46d160;
    --crimson: #ea0027;
    --text: #1a1a1b;
    --link: #161657b0;
    --background: white;
    --background-secondary: #f6f7f8;
    --background-tertiary: #dae0e6;
    --gray: #898c8e;
    --purple: #886ce4;
    --sky-blue: #91c5ec;
    --dark-cyan: #0aa18f;
    --brown: #582918;
    --gold: #9a7d2e;

    --dark-transparent: #12122bd8;


    /* lightest */
    --color-l5: #000;
    --color-l4: #000;
    --color-l3: #000;
    --color-l2: #fff;
    --color-l1: #fff;
    --background-l5: #fff;
    --background-l4: #f6f6f6;
    --background-l3: #dfdfdf;
    --background-l2: #c0c0c0;
    --background-l1: #a0a0a0;
    --color-d1: #fff;
    --color-d2: #fff;
    --color-d3: #fff;
    --color-d4: #fff;
    --color-d5: #fff;
    --background-d1: #575757;
    --background-d2: #4e4e4e;
    --background-d3: #444;
    --background-d4: #3a3a3a;
    --background-d5: #303030;
    /* darkest */
}

/* General */
html,
body {
    background-color: var(--background-l4);
    color: var(--color-l4);
    font-family: Verdana, arial, helvetica, sans-serif;
}

h1 {
    font-size: 2em;
    margin: 0.83rem 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.67rem 0;
}

h3,
h4,
h5,
h6 {
    font-size: 1.17em;
    margin: 1em 0;
}

button {
    background-color: inherit;
    border: none;
    font-size: inherit;
    font-style: inherit;
    cursor: pointer;
}
/* Text */
.text-info {
    color: var(--sky-blue);
}

.text-warning {
   color: var(--gold);
}
.text-danger {
    color: var(--crimson);
}

/* Buttons */
.btn,
.btn-primary {
    background-color: var(--primary);
    color: var(--background);
    height: 40px;
    width: 120px;
    border-radius: 5px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-outline-primary {
    background-color: var(--background-secondary);
    border: 1px solid var(--primary);
    color: var(--primary);
}

    .btn:hover,
    .btn-primary:hover,
    .btn-outline-primary:hover {
        background-color: #ff440075;
        color: var(--background);
    }

.btn:active {
    background-color: #e7461d;
    color: var(--background);
}

.btn:active,
.btn:focus {
    outline: none;
}

.btn-sm {
    width: 100px;
    height: 30px;
    font-size: 0.8em;
}

.btn-lg {
    width: 100%;
}

.btn-secondary {
    background-color: var(--blue);
}

    .btn-secondary:hover,
    .btn-outline-secondary:hover {
        background-color: #0b87e69d;
        color: var(--background);
    }

    .btn-secondary:active,
    .btn-outline-secondary:active {
        background-color: #1680d1;
        color: var(--background);
    }

.btn-outline-secondary {
    background-color: var(--background);
    color: var(--blue);
    border: 1px solid var(--blue);
}

form > * {
    width: 100%;
    margin: 10px 0;
}

form textarea {
    resize: vertical;
}

form .text-danger {
    display: block;
    font-size: .7em;
}

.input {
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid var(--gray);
    background-color: var(--background-secondary);
    display: flex;
    justify-content: left;
    align-content: center;
    align-items: center;
}

    .input > * {
        background-color: var(--background-secondary);
    }

    .input .input-icon {
        z-index: 10;
    }

    .input input {
        height: 100%;
        padding: 0 10px;
        border: none;
        width: 100%;
        font-size: 0.8rem;
    }

        .input input:focus {
            outline: none;
            color: var(--text);
            font-size: 0.85rem;
        }

a,
.a {
    color: var(--link);
    text-decoration: none;
}

    a:active {
        color: var(--text);
    }

/* | Container */
.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: max-content;
}

/* Header */
.header {
    position: fixed;
    width: 100%;
    height: fit-content;
    padding: 5px 20px;
    background-color: var(--background);
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: baseline;
    z-index: 30;
}

    .header .logo {
        background-color: var(--primary);
        color: var(--background);
        padding: 10px;
        border-radius: 5px;
        font-size: 1rem;
    }

.header-links {
    display: flex;
}

    .header-links > li {
        margin: 0 10px;
        white-space: nowrap;
    }

.header form {
    width: 50%;
}

/* | Dropdown */
.dropdown {
    display: flex;
    flex-direction: column;
    position: relative;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    background-color: var(--background-tertiary);
    position: absolute;
    top: 30px;
    right: 0px;
    width: max-content;
    border: 1px solid var(--primary);
    border-radius: 5px;
    opacity: 100%;
    pointer-events: all;
}

.hidden-menu {
    opacity: 0;
    pointer-events: none;
}

.dropdown-toggle:focus {
    outline: none;
}

.dropdown-menu > * {
    display: flex;
    align-content: center;
    padding: 10px 20px;
    cursor: pointer;
}

    .dropdown-menu > *:hover {
        background-color: var(--background-secondary);
    }

    .dropdown-menu > *:first-child {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .dropdown-menu > *:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

/* Main */
/* | Main Container */
.articles,
.main-container {
    padding: 20px;
    padding-top: 80px;
    gap: 20px;
    grid-template-columns: [main-start content-start] repeat(8, 1fr) [content-end sidebar-start] repeat(4, 1fr) [main-end sidebar-end];
}

/* || Cards */
.card form {
    width: 100%;
    height: 100%;
}

* > .card:first-child {
    margin: 0;
}

.card {
    background-color: var(--background);
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    box-shadow: -2.5px 2.5px 5px 0 rgba(0, 0, 0, 0.1);
}

.card-lg {
    min-height: 200px;
    padding: 20px;
}

/* ||| Article Cards */
.card .karma-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    text-align: center;
    padding: 0 10px;
}

.card-body > * {
    margin: 10px 0;
}

.karma-col > * {
    color: var(--link);
    margin: 10px 0;
}

.karma-col .upvote:hover,
.upvoted {
    color: var(--primary);
}

.karma-col .downvote:hover,
.downvoted {
    color: var(--blue);
}

.card .content-col {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content-col * {
    margin-bottom: 5px;
}

    .content-col *:last-child {
        margin-bottom: 0;
    }

.card .content-col .sub-row {
    display: flex;
    justify-content: flex-start;
}

.sub-row * {
    margin-right: 10px;
    font-size: 0.7rem;
}

.sub-row a.sub-link {
    color: var(--text);
}

.sub-row a.user-link:hover {
    color: var(--text);
}

.title-row > * {
    color: var(--text);
}

.card .img-row {
    display: flex;
    justify-content: center;
    align-content: center;
}

    .card .img-row img {
        width: 100%;
        max-height: 70vh;
        object-fit: contain;
    }

.more-row {
    font-size: 0.8rem;
}

.save-link {
    cursor: pointer;
}

/* ||| Board Card */
.board-card {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

    .board-card > * {
        margin: 10px;
        border-left: 1px solid var(--background-tertiary);
        padding-left: 15px;
    }

    .board-card > a {
        font-size: 1.2rem;
    }

/* ||| User Details Card */
.user-details-card {
    display: flex;
    flex-direction: row;
}

    .user-details-card * {
        margin-bottom: 10px;
    }

    .user-details-card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.user-details .user-info {
    display: flex;
    flex-direction: column;
}

/* || Content */
.content {
    grid-column: content;
}

input.page-search {
    width: 100%;
}

.navigation-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* || Sidebar */
.sidebar {
    grid-column: sidebar;
}

    .sidebar .card {
        display: flex;
        flex-direction: column;
    }

.board-sidebar-img {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
}

    .board-sidebar-img img {
        width: 100%;
        max-height: 200px;
        object-fit: cover;
    }

.sidebar .card > * {
    text-align: center;
}

.sidebar .card .card-top {
    font-size: 0.7rem;
    color: var(--background-secondary);
    text-align: left;
    padding: 10px;
    margin: -10px;
    margin-bottom: 0;
    border: 1px solid var(--background-secondary);
    border-radius: 5px;
    background-color: var(--background-tertiary);
}

.sidebar .card-body h4 {
    font-size: 1.5rem;
    padding: 10px 0;
}

.sidebar .card-body p {
    color: var(--gray);
    margin-bottom: 10px;
    text-align: left;
}

.card-footer {
    border-top: 1px solid var(--background-tertiary);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

    .card-footer > * {
        margin: 10px 0;
    }

.sidebar .card-footer .btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vertical-card {
    display: flex;
    flex-direction: column;
}

/* collapsable menu */
.menu-toggle {
    display: none;
}

@media screen and (max-width: 900px) {
    .content {
        grid-column: main;
    }

    .sidebar {
        grid-row: 1 / 2;
        grid-column: main;
    }

    .header > * {
        margin-left: 10px;
        margin-right: 10px;
    }

    .header-links > li {
        margin: 0;
    }

    .header-links {
        position: absolute;
        flex-direction: column;
        background-color: var(--dark-transparent);
        border: 1px solid var(--background-tertiary);
        border-radius: 5px;
        top: 80px;
        left: 0;
        right: 0;
        z-index: 50;
        align-content: flex-start;
        align-items: flex-start;
        justify-content: space-evenly;
        padding: 20px;
        margin: 0;
    }

        .header-links .header-link,
        .header-links .header-link > * {
            color: var(--background-secondary);
            margin: 10px 0;
            padding: 0;
        }

    .header form {
        width: 70%;
    }

    .menu-toggle {
        display: block;
    }

    .dropdown-menu {
        left: 0;
    }

    .hidden-menu-md {
        opacity: 0;
        pointer-events: none;
    }
}
